# Use Python to Convert Base Numbers

### Author: Dr. Owen Chen
### Date: 2023 Fall

## Decimal to Binary

In [5]:
# Decimal to Binary
n = 2023
bi = bin(n)
print("Decimal number:", n)
print("Binary number:", bi)

Decimal number: 2023
Binary number: 0b11111100111

In [2]:
# Program to remove leading binary prefix "0b"
s=bi[2:]
print(s)

11111100111

## Binary to Decimal

In [3]:
# Binary to Decimal
bi = "11111100111"
n = int(bi, 2)
print("Binary:", bi)
print("Decimal:", n)

Binary: 11111100111
Decimal: 2023

## Decimal to Octal

In [4]:
n = 2023
oc = oct(n)
print("Decimal number:", n)
print("Octal number:", oc)

Decimal number: 2023
Octal number: 0o3747

In [17]:
# remove leading prefix of "0o"
s=oc[2:]
print(s)

3746

## Octal to Decimal

In [18]:
# Oct to Decimal
s = "3746"
n = int(s, 8)
print("Octal:", s)
print("Decimal:", n)

Octal: 3746
Decimal: 2022

## Decimal to Hex

In [19]:
n = 2022
h = hex(n)
print("Decimal number:", n)
print("Hex number:", h)

Decimal number: 2022
Hex number: 0x7e6

In [20]:
## remove leading prefix of "0x"
s=h[2:]
print(s)

7e6

## Hex to Decimal

In [21]:
# Hex to Decimal
s = "7e6"
n = int(s, 16)
print("Hex:", s)
print("Decimal:", n)

Hex: 7e6
Decimal: 2022

## First 100 Numbers in Decimal, Binary, Octal and Hexadecimal

# Use Python to Convert Base Numbers

### Author: Dr. Owen Chen
### Date: 2023 Fall

## Decimal to Binary

In [5]:
# Decimal to Binary
n = 2023
bi = bin(n)
print("Decimal number:", n)
print("Binary number:", bi)

Decimal number: 2023
Binary number: 0b11111100111

In [2]:
# Program to remove leading binary prefix "0b"
s=bi[2:]
print(s)

11111100111

## Binary to Decimal

In [3]:
# Binary to Decimal
bi = "11111100111"
n = int(bi, 2)
print("Binary:", bi)
print("Decimal:", n)

Binary: 11111100111
Decimal: 2023

## Decimal to Octal

In [4]:
n = 2023
oc = oct(n)
print("Decimal number:", n)
print("Octal number:", oc)

Decimal number: 2023
Octal number: 0o3747

In [17]:
# remove leading prefix of "0o"
s=oc[2:]
print(s)

3746

## Octal to Decimal

In [18]:
# Oct to Decimal
s = "3746"
n = int(s, 8)
print("Octal:", s)
print("Decimal:", n)

Octal: 3746
Decimal: 2022

## Decimal to Hex

In [19]:
n = 2022
h = hex(n)
print("Decimal number:", n)
print("Hex number:", h)

Decimal number: 2022
Hex number: 0x7e6

In [20]:
## remove leading prefix of "0x"
s=h[2:]
print(s)

7e6

## Hex to Decimal

In [21]:
# Hex to Decimal
s = "7e6"
n = int(s, 16)
print("Hex:", s)
print("Decimal:", n)

Hex: 7e6
Decimal: 2022

## First 100 Numbers in Decimal, Binary, Octal and Hexadecimal

In [25]:
print("Decimal, Binary, Octal, Hexadecimal")
for i in range(1,101):
    print(i, bin(i)[2:], oct(i)[2:], hex(i)[2:])

Decimal, Binary, Octal, Hexadecimal
1 1 1 1
2 10 2 2
3 11 3 3
4 100 4 4
5 101 5 5
6 110 6 6
7 111 7 7
8 1000 10 8
9 1001 11 9
10 1010 12 a
11 1011 13 b
12 1100 14 c
13 1101 15 d
14 1110 16 e
15 1111 17 f
16 10000 20 10
17 10001 21 11
18 10010 22 12
19 10011 23 13
20 10100 24 14
21 10101 25 15
22 10110 26 16
23 10111 27 17
24 11000 30 18
25 11001 31 19
26 11010 32 1a
27 11011 33 1b
28 11100 34 1c
29 11101 35 1d
30 11110 36 1e
31 11111 37 1f
32 100000 40 20
33 100001 41 21
34 100010 42 22
35 100011 43 23
36 100100 44 24
37 100101 45 25
38 100110 46 26
39 100111 47 27
40 101000 50 28
41 101001 51 29
42 101010 52 2a
43 101011 53 2b
44 101100 54 2c
45 101101 55 2d
46 101110 56 2e
47 101111 57 2f
48 110000 60 30
49 110001 61 31
50 110010 62 32
51 110011 63 33
52 110100 64 34
53 110101 65 35
54 110110 66 36
55 110111 67 37
56 111000 70 38
57 111001 71 39
58 111010 72 3a
59 111011 73 3b
60 111100 74 3c
61 111101 75 3d
62 111110 76 3e
63 111111 77 3f
64 1000000 100 40
65 1000001 101 41
66 1000010 102 42
67 1000011 103 43
68 1000100 104 44
69 1000101 105 45
70 1000110 106 46
71 1000111 107 47
72 1001000 110 48
73 1001001 111 49
74 1001010 112 4a
75 1001011 113 4b
76 1001100 114 4c
77 1001101 115 4d
78 1001110 116 4e
79 1001111 117 4f
80 1010000 120 50
81 1010001 121 51
82 1010010 122 52
83 1010011 123 53
84 1010100 124 54
85 1010101 125 55
86 1010110 126 56
87 1010111 127 57
88 1011000 130 58
89 1011001 131 59
90 1011010 132 5a
91 1011011 133 5b
92 1011100 134 5c
93 1011101 135 5d
94 1011110 136 5e
95 1011111 137 5f
96 1100000 140 60
97 1100001 141 61
98 1100010 142 62
99 1100011 143 63
100 1100100 144 64

## Format a table

In [8]:
import pandas as pd
pd.set_option('display.max_rows', None)
cols = ['Decimal', 'Binary', 'Octal', 'Hex']
list100=[[i, bin(i)[2:], oct(i)[2:], hex(i)[2:]] for i in range(100)]
df=pd.DataFrame(list100, columns=cols)

In [9]:
df[:25]

    Decimal Binary Octal Hex
0         0      0     0   0
1         1      1     1   1
2         2     10     2   2
3         3     11     3   3
4         4    100     4   4
5         5    101     5   5
6         6    110     6   6
7         7    111     7   7
8         8   1000    10   8
9         9   1001    11   9
10       10   1010    12   a
11       11   1011    13   b
12       12   1100    14   c
13       13   1101    15   d
14       14   1110    16   e
15       15   1111    17   f
16       16  10000    20  10
17       17  10001    21  11
18       18  10010    22  12
19       19  10011    23  13
20       20  10100    24  14
21       21  10101    25  15
22       22  10110    26  16
23       23  10111    27  17
24       24  11000    30  18

In [10]:
df[25:50]

    Decimal  Binary Octal Hex
25       25   11001    31  19
26       26   11010    32  1a
27       27   11011    33  1b
28       28   11100    34  1c
29       29   11101    35  1d
30       30   11110    36  1e
31       31   11111    37  1f
32       32  100000    40  20
33       33  100001    41  21
34       34  100010    42  22
35       35  100011    43  23
36       36  100100    44  24
37       37  100101    45  25
38       38  100110    46  26
39       39  100111    47  27
40       40  101000    50  28
41       41  101001    51  29
42       42  101010    52  2a
43       43  101011    53  2b
44       44  101100    54  2c
45       45  101101    55  2d
46       46  101110    56  2e
47       47  101111    57  2f
48       48  110000    60  30
49       49  110001    61  31

In [11]:
df[50:75]

    Decimal   Binary Octal Hex
50       50   110010    62  32
51       51   110011    63  33
52       52   110100    64  34
53       53   110101    65  35
54       54   110110    66  36
55       55   110111    67  37
56       56   111000    70  38
57       57   111001    71  39
58       58   111010    72  3a
59       59   111011    73  3b
60       60   111100    74  3c
61       61   111101    75  3d
62       62   111110    76  3e
63       63   111111    77  3f
64       64  1000000   100  40
65       65  1000001   101  41
66       66  1000010   102  42
67       67  1000011   103  43
68       68  1000100   104  44
69       69  1000101   105  45
70       70  1000110   106  46
71       71  1000111   107  47
72       72  1001000   110  48
73       73  1001001   111  49
74       74  1001010   112  4a

In [12]:
df[75:]

    Decimal   Binary Octal Hex
75       75  1001011   113  4b
76       76  1001100   114  4c
77       77  1001101   115  4d
78       78  1001110   116  4e
79       79  1001111   117  4f
80       80  1010000   120  50
81       81  1010001   121  51
82       82  1010010   122  52
83       83  1010011   123  53
84       84  1010100   124  54
85       85  1010101   125  55
86       86  1010110   126  56
87       87  1010111   127  57
88       88  1011000   130  58
89       89  1011001   131  59
90       90  1011010   132  5a
91       91  1011011   133  5b
92       92  1011100   134  5c
93       93  1011101   135  5d
94       94  1011110   136  5e
95       95  1011111   137  5f
96       96  1100000   140  60
97       97  1100001   141  61
98       98  1100010   142  62
99       99  1100011   143  63

In [4]:
print("Decimal, Binary, Octal, Hexadecimal")
for i in range(1,101):
    print(i, bin(i)[2:], oct(i)[2:], hex(i)[2:])

Decimal, Binary, Octal, Hexadecimal
1 1 1 1
2 10 2 2
3 11 3 3
4 100 4 4
5 101 5 5
6 110 6 6
7 111 7 7
8 1000 10 8
9 1001 11 9
10 1010 12 a
11 1011 13 b
12 1100 14 c
13 1101 15 d
14 1110 16 e
15 1111 17 f
16 10000 20 10
17 10001 21 11
18 10010 22 12
19 10011 23 13
20 10100 24 14
21 10101 25 15
22 10110 26 16
23 10111 27 17
24 11000 30 18
25 11001 31 19
26 11010 32 1a
27 11011 33 1b
28 11100 34 1c
29 11101 35 1d
30 11110 36 1e
31 11111 37 1f
32 100000 40 20
33 100001 41 21
34 100010 42 22
35 100011 43 23
36 100100 44 24
37 100101 45 25
38 100110 46 26
39 100111 47 27
40 101000 50 28
41 101001 51 29
42 101010 52 2a
43 101011 53 2b
44 101100 54 2c
45 101101 55 2d
46 101110 56 2e
47 101111 57 2f
48 110000 60 30
49 110001 61 31
50 110010 62 32
51 110011 63 33
52 110100 64 34
53 110101 65 35
54 110110 66 36
55 110111 67 37
56 111000 70 38
57 111001 71 39
58 111010 72 3a
59 111011 73 3b
60 111100 74 3c
61 111101 75 3d
62 111110 76 3e
63 111111 77 3f
64 1000000 100 40
65 1000001 101 41
66 1000010 102 42
67 1000011 103 43
68 1000100 104 44
69 1000101 105 45
70 1000110 106 46
71 1000111 107 47
72 1001000 110 48
73 1001001 111 49
74 1001010 112 4a
75 1001011 113 4b
76 1001100 114 4c
77 1001101 115 4d
78 1001110 116 4e
79 1001111 117 4f
80 1010000 120 50
81 1010001 121 51
82 1010010 122 52
83 1010011 123 53
84 1010100 124 54
85 1010101 125 55
86 1010110 126 56
87 1010111 127 57
88 1011000 130 58
89 1011001 131 59
90 1011010 132 5a
91 1011011 133 5b
92 1011100 134 5c
93 1011101 135 5d
94 1011110 136 5e
95 1011111 137 5f
96 1100000 140 60
97 1100001 141 61
98 1100010 142 62
99 1100011 143 63
100 1100100 144 64

In [5]:
import pandas as pd
pd.set_option('display.max_rows', None)
cols = ['Decimal', 'Binary', 'Octal', 'Hex']
list100=[[i, bin(i)[2:], oct(i)[2:], hex(i)[2:]] for i in range(100)]
df=pd.DataFrame(list100, columns=cols)

In [7]:
list100

[[0, '0', '0', '0'],
 [1, '1', '1', '1'],
 [2, '10', '2', '2'],
 [3, '11', '3', '3'],
 [4, '100', '4', '4'],
 [5, '101', '5', '5'],
 [6, '110', '6', '6'],
 [7, '111', '7', '7'],
 [8, '1000', '10', '8'],
 [9, '1001', '11', '9'],
 [10, '1010', '12', 'a'],
 [11, '1011', '13', 'b'],
 [12, '1100', '14', 'c'],
 [13, '1101', '15', 'd'],
 [14, '1110', '16', 'e'],
 [15, '1111', '17', 'f'],
 [16, '10000', '20', '10'],
 [17, '10001', '21', '11'],
 [18, '10010', '22', '12'],
 [19, '10011', '23', '13'],
 [20, '10100', '24', '14'],
 [21, '10101', '25', '15'],
 [22, '10110', '26', '16'],
 [23, '10111', '27', '17'],
 [24, '11000', '30', '18'],
 [25, '11001', '31', '19'],
 [26, '11010', '32', '1a'],
 [27, '11011', '33', '1b'],
 [28, '11100', '34', '1c'],
 [29, '11101', '35', '1d'],
 [30, '11110', '36', '1e'],
 [31, '11111', '37', '1f'],
 [32, '100000', '40', '20'],
 [33, '100001', '41', '21'],
 [34, '100010', '42', '22'],
 [35, '100011', '43', '23'],
 [36, '100100', '44', '24'],
 [37, '100101', '45', '25'],
 [38, '100110', '46', '26'],
 [39, '100111', '47', '27'],
 [40, '101000', '50', '28'],
 [41, '101001', '51', '29'],
 [42, '101010', '52', '2a'],
 [43, '101011', '53', '2b'],
 [44, '101100', '54', '2c'],
 [45, '101101', '55', '2d'],
 [46, '101110', '56', '2e'],
 [47, '101111', '57', '2f'],
 [48, '110000', '60', '30'],
 [49, '110001', '61', '31'],
 [50, '110010', '62', '32'],
 [51, '110011', '63', '33'],
 [52, '110100', '64', '34'],
 [53, '110101', '65', '35'],
 [54, '110110', '66', '36'],
 [55, '110111', '67', '37'],
 [56, '111000', '70', '38'],
 [57, '111001', '71', '39'],
 [58, '111010', '72', '3a'],
 [59, '111011', '73', '3b'],
 [60, '111100', '74', '3c'],
 [61, '111101', '75', '3d'],
 [62, '111110', '76', '3e'],
 [63, '111111', '77', '3f'],
 [64, '1000000', '100', '40'],
 [65, '1000001', '101', '41'],
 [66, '1000010', '102', '42'],
 [67, '1000011', '103', '43'],
 [68, '1000100', '104', '44'],
 [69, '1000101', '105', '45'],
 [70, '1000110', '106', '46'],
 [71, '1000111', '107', '47'],
 [72, '1001000', '110', '48'],
 [73, '1001001', '111', '49'],
 [74, '1001010', '112', '4a'],
 [75, '1001011', '113', '4b'],
 [76, '1001100', '114', '4c'],
 [77, '1001101', '115', '4d'],
 [78, '1001110', '116', '4e'],
 [79, '1001111', '117', '4f'],
 [80, '1010000', '120', '50'],
 [81, '1010001', '121', '51'],
 [82, '1010010', '122', '52'],
 [83, '1010011', '123', '53'],
 [84, '1010100', '124', '54'],
 [85, '1010101', '125', '55'],
 [86, '1010110', '126', '56'],
 [87, '1010111', '127', '57'],
 [88, '1011000', '130', '58'],
 [89, '1011001', '131', '59'],
 [90, '1011010', '132', '5a'],
 [91, '1011011', '133', '5b'],
 [92, '1011100', '134', '5c'],
 [93, '1011101', '135', '5d'],
 [94, '1011110', '136', '5e'],
 [95, '1011111', '137', '5f'],
 [96, '1100000', '140', '60'],
 [97, '1100001', '141', '61'],
 [98, '1100010', '142', '62'],
 [99, '1100011', '143', '63']]

In [6]:
df

    Decimal   Binary Octal Hex
0         0        0     0   0
1         1        1     1   1
2         2       10     2   2
3         3       11     3   3
4         4      100     4   4
5         5      101     5   5
6         6      110     6   6
7         7      111     7   7
8         8     1000    10   8
9         9     1001    11   9
10       10     1010    12   a
11       11     1011    13   b
12       12     1100    14   c
13       13     1101    15   d
14       14     1110    16   e
15       15     1111    17   f
16       16    10000    20  10
17       17    10001    21  11
18       18    10010    22  12
19       19    10011    23  13
20       20    10100    24  14
21       21    10101    25  15
22       22    10110    26  16
23       23    10111    27  17
24       24    11000    30  18
25       25    11001    31  19
26       26    11010    32  1a
27       27    11011    33  1b
28       28    11100    34  1c
29       29    11101    35  1d
30       30    11110    36  1e
31       31    11111    37  1f
32       32   100000    40  20
33       33   100001    41  21
34       34   100010    42  22
35       35   100011    43  23
36       36   100100    44  24
37       37   100101    45  25
38       38   100110    46  26
39       39   100111    47  27
40       40   101000    50  28
41       41   101001    51  29
42       42   101010    52  2a
43       43   101011    53  2b
44       44   101100    54  2c
45       45   101101    55  2d
46       46   101110    56  2e
47       47   101111    57  2f
48       48   110000    60  30
49       49   110001    61  31
50       50   110010    62  32
51       51   110011    63  33
52       52   110100    64  34
53       53   110101    65  35
54       54   110110    66  36
55       55   110111    67  37
56       56   111000    70  38
57       57   111001    71  39
58       58   111010    72  3a
59       59   111011    73  3b
60       60   111100    74  3c
61       61   111101    75  3d
62       62   111110    76  3e
63       63   111111    77  3f
64       64  1000000   100  40
65       65  1000001   101  41
66       66  1000010   102  42
67       67  1000011   103  43
68       68  1000100   104  44
69       69  1000101   105  45
70       70  1000110   106  46
71       71  1000111   107  47
72       72  1001000   110  48
73       73  1001001   111  49
74       74  1001010   112  4a
75       75  1001011   113  4b
76       76  1001100   114  4c
77       77  1001101   115  4d
78       78  1001110   116  4e
79       79  1001111   117  4f
80       80  1010000   120  50
81       81  1010001   121  51
82       82  1010010   122  52
83       83  1010011   123  53
84       84  1010100   124  54
85       85  1010101   125  55
86       86  1010110   126  56
87       87  1010111   127  57
88       88  1011000   130  58
89       89  1011001   131  59
90       90  1011010   132  5a
91       91  1011011   133  5b
92       92  1011100   134  5c
93       93  1011101   135  5d
94       94  1011110   136  5e
95       95  1011111   137  5f
96       96  1100000   140  60
97       97  1100001   141  61
98       98  1100010   142  62
99       99  1100011   143  63

# Write a funcion to convert an integer in decimal to a given base b


**input**:
    - intger: n
    - base: b
    
**output**:
    - a string of numerical digits in base b for integer n

In [1]:
## Base 2, Base 8, 10, or Base 16

def convert_base_v1(n,b):
    if b <= 1:
        return f"base b ={b} must be 2 or greater"
    elif b == 2:
        return bin(n)[2:]
    elif b == 8:
        return oct(n)[2:]
    elif b == 10:
        return n
    elif b == 16:
        return hex(n)[2:]
    else:
        return f"unknown base b = {b}"

In [2]:
print(convert_base_v1(2023, 2))

11111100111

In [3]:
print(convert_base_v1(2023, 8))

3747

In [4]:
print(convert_base_v1(2023, 16))

7e7

In [5]:
print(convert_base_v1(2023, 10))

2023

In [6]:
print(convert_base_v1(2023, 1))

base b =1 must be 2 or greater

In [7]:
print(convert_base_v1(2023, 12))

unknown base b = 12

## Convert any base number

In [8]:
def convert_base(n, b):
    if b <2:
        return f"Error: input base b={b} must be 2 or greater"
    else:
        # Divide input n by b repeatly with quotient and remainder
        # use divmode() function
        res = ""
        while n > 0:
            n, remainder = divmod(n, b)
            res += str(remainder)
        # reversed order of remainders is the final answer
        return res[::-1]

In [9]:
print(convert_base(2023, 2))

11111100111

In [10]:
print(convert_base(2023, 8))

3747

In [11]:
print(convert_base(2023, 16))

7417

In [12]:
# Create mapping between a number and a string symbol
def base_map():
    basemap={i: str(i) for i in range(10)}
    alphabet_start = ord('a')
    for i in range(26):
        basemap[i+10]=chr(alphabet_start+i)
    return basemap

In [13]:
basemap=base_map()
basemap

{0: '0',
 1: '1',
 2: '2',
 3: '3',
 4: '4',
 5: '5',
 6: '6',
 7: '7',
 8: '8',
 9: '9',
 10: 'a',
 11: 'b',
 12: 'c',
 13: 'd',
 14: 'e',
 15: 'f',
 16: 'g',
 17: 'h',
 18: 'i',
 19: 'j',
 20: 'k',
 21: 'l',
 22: 'm',
 23: 'n',
 24: 'o',
 25: 'p',
 26: 'q',
 27: 'r',
 28: 's',
 29: 't',
 30: 'u',
 31: 'v',
 32: 'w',
 33: 'x',
 34: 'y',
 35: 'z'}

In [14]:
# This function can handle any base up to base 36
def convert_any_base(n, b):
    if b <2:
        return f"Error: input base b={b} must be 2 or greater"
    else:
        # Divide input n by b repeatly with quotient and remainder
        # use divmode() function
        res = ""
        while n > 0:
            n, remainder = divmod(n, b)
            res += basemap[remainder]
        # reversed order of remainders is the final answer
        return res[::-1]

In [15]:
print(convert_any_base(2023, 2))
print(convert_any_base(2023, 8))
print(convert_any_base(2023, 12))
print(convert_any_base(2023, 16))

11111100111
3747
1207
7e7

In [16]:
# This function can handle any base up to base 36 without using divmod()
def convert_any_base_v2(n, b):
    if b <2:
        return f"Error: input base b={b} must be 2 or greater"
    else:
        # Divide input n by b repeatly with quotient and remainder
        res = ""
        while n > 0:
            remainder = n % b
            n  = n // b
            res += basemap[remainder]
        # reversed order of remainders is the final answer
        return res[::-1]

In [17]:
print(convert_any_base_v2(2023, 2))
print(convert_any_base_v2(2023, 8))
print(convert_any_base_v2(2023, 12))
print(convert_any_base_v2(2023, 16))

11111100111
3747
1207
7e7

In [18]:
def convert_any_base(n, b, debug=False):
    if debug:
        print(f"convert {n} to base {b}")
    if b <2:
        return f"Error: input base b={b} must be 2 or greater"
    else:
        # Divide input n by b repeatly with quotient and remainder
        # use divmode() function
        res = ""
        if debug:
            step = 0
        while n > 0:
            if debug:
                step +=1
                print(f"Step {step}: {n}/{b}:", end=" ")
                n, remainder = divmod(n, b)
                print(f"quotient: {n}, remainder: {remainder}") 
            else:
                n, remainder = divmod(n, b)  
                # remainder = n % b
                # n = n // b
            res += str(remainder)
        # reversed order of remainders is the final answer
        if debug:
            print(f"final result:{res[::-1]}")
        return res[::-1]

In [19]:
convert_any_base(2023, 8)

'3747'

In [20]:
convert_any_base(2023, 8, debug=True)

convert 2023 to base 8
Step 1: 2023/8: quotient: 252, remainder: 7
Step 2: 252/8: quotient: 31, remainder: 4
Step 3: 31/8: quotient: 3, remainder: 7
Step 4: 3/8: quotient: 0, remainder: 3
final result:3747

'3747'

In [21]:
convert_any_base(2023, 2, debug=True)

convert 2023 to base 2
Step 1: 2023/2: quotient: 1011, remainder: 1
Step 2: 1011/2: quotient: 505, remainder: 1
Step 3: 505/2: quotient: 252, remainder: 1
Step 4: 252/2: quotient: 126, remainder: 0
Step 5: 126/2: quotient: 63, remainder: 0
Step 6: 63/2: quotient: 31, remainder: 1
Step 7: 31/2: quotient: 15, remainder: 1
Step 8: 15/2: quotient: 7, remainder: 1
Step 9: 7/2: quotient: 3, remainder: 1
Step 10: 3/2: quotient: 1, remainder: 1
Step 11: 1/2: quotient: 0, remainder: 1
final result:11111100111

'11111100111'

In [22]:
convert_any_base(2023, 8, debug=True)

convert 2023 to base 8
Step 1: 2023/8: quotient: 252, remainder: 7
Step 2: 252/8: quotient: 31, remainder: 4
Step 3: 31/8: quotient: 3, remainder: 7
Step 4: 3/8: quotient: 0, remainder: 3
final result:3747

'3747'